@media screen and (max-width:768px) {
	#song-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 auto;
	}

	.card {
		margin: 0 0.4em 0.4em;
	}
}

@media screen and (min-width:768px) {
	#song-cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0 auto;
	}

	.card {
		margin: 0.4em 0.4em;
		flex-wrap: nowrap;
		word-wrap: break-word;
	}
}

@media screen and (min-width:1140px) {
	#song-cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		margin: 0 auto;
	}

	.card {
		margin: 0.4em 0.4em;
		font-size: 1vw;
	}

}

.card-body {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-word;
	text-align: center;
}