@media screen and (max-width:768px) {

	#type-buttons {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: 0.5em auto;
	}

}

@media screen and (min-width:768px) {

	#type-buttons {
		display: flex;
		justify-content: space-evenly;
		margin: 0.5em auto;
		text-align: center;
		font-size: 1em;
	}

	#type-buttons button {
		font-size: 1em;
	}

}

@media screen and (min-width:1140px) {

	#type-buttons {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: 0.5em auto;
		text-align: center;
	}

	#button-Princess:hover,
	.Princess-button-active {
		background-color: #e85579;
		color: white;
	}

	#button-Fairy:hover,
	.Fairy-button-active {
		background-color: #487cce;
		color: white;
	}

	#button-Angel:hover,
	.Angel-button-active {
		background-color: #f4c71c;
		color: white;
	}

	#button-All:hover,
	.All-button-active {
		background-color: #b78876;
		color: white;
	}
}


#type-buttons img {
	width: 2em;
}

.transparent {
	background-color: transparent;
}