@font-face {
	font-family: "jf-openhuninn";
	src: local("jf-openhuninn"), url("./assets/jf-openhuninn-1.1.ttf");
}

@media screen and (min-width:768px) {
	body {
		background: #eeeeee;
	}
}

@media screen and (min-width:1140px) {
	body {
		background-image: radial-gradient(#ffffffaa, #ffffffee), url("./assets/background.webp");
		background-attachment: fixed;
		background-size: 100vmax;
		background-position: center;
		background-repeat: no-repeat;

	}
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	width: 100vw;
	font-family: "jf-openhuninn", Arial, Helvetica, sans-serif;
	font-size: medium;
}

#root>.container {
	max-width: 90%;
}

a {
	color: #487cce;
	text-decoration: none;
}

a:hover {
	color: #e85579;
	text-decoration: none;
}

a:active {
	color: #f4c71c;
	text-decoration: none;
}

#content {
	background: #487cce30;
	border: 0.25rem solid #487cce;
	margin-top: 1rem;
}