.song-information-container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	margin: 2vh 0 2vh;

}

#song-information,
#song-page-back-button,
.song-hardness {
	font-size: calc(0.1rem + 1.5vw);
}

.song-cover-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}

#song-cover {
	width: calc(1em + 15vw);
}

#song-page-back-button {
	background-color: #487cce;
	margin: 10px 10px;
	padding: 0.2vw 1vw;
}

#back-button-container {
	display: flex;
	align-items: flex-end;
	justify-content: right;
}